{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block body %}
<div class="p4">
  <a href="{% url 'accounts' %}" style="text-align:right;" class="hme">العودة الى صفحة الحسابات -></a>

    <div class="uper">

        <div class="models sp">
        <h1 style="text-align:right;" class="hme">حساب : {{accounts.name}}</h1>
        <div style=" font-size: x-large;" dir="rtl">  طبيعة الاستخدام : {% for tag in accounts.use.all %}{{tag}}. {% endfor %}</div>
        </div>

    </div>
    <br>


    {% for tag in accounts.use.all %}
        {% if tag.name == "صرف نقدي" %}
          <h5 style="text-align:right; font:1.3em;" class="">بيانات : {{tag.name}}</h5>
          <table class="table table-hover" style="width: 100%; margin-top: 0px;">
              <thead>
                  <tr>
                    <th style="width: 45%;"><center> التاريخ</center></th>
                    <th style="width: 45%;"><center> المبلغ</center></th>
                    <th style="width: 10%;"><center>رقم العملية</center></th>
      
      
      
                  </tr>
                </thead>
              <tbody id="output1" style="width: 100%;">
      
                {% for item in expenses %}
                                  <tr dir="rtl"> 
      
                                    <td style=" text-align:center; width: 45%;">{{item.date|date:"m-d"}}</td>
                                    <td style=" text-align:center; width: 45%;">{{item.price}}</td>
                                  <td style=" text-align:center; width: 10%;">{{item.id}}</td>
                                  </tr>            
                {% endfor %}
      
      
              </tbody>
          </table>
        {% endif %}
        {% if tag.name == "ادخال نقدي" %}
          <h5 style="text-align:right; font:1.3em;" class="">بيانات : {{tag.name}}</h5>
          <table class="table table-hover" style="width: 100%; margin-top: 0px;">
              <thead>
                  <tr>
                    <th style="width: 45%;"><center> التاريخ</center></th>
                    <th style="width: 45%;"><center> المبلغ</center></th>
                    <th style="width: 10%;"><center>رقم العملية</center></th>
      
      
      
                  </tr>
                </thead>
              <tbody id="output1" style="width: 100%;">
      
                {% for item in income %}
                                  <tr dir="rtl"> 
      
                                    <td style=" text-align:center; width: 45%;">{{item.date|date:"m-d"}}</td>
                                    <td style=" text-align:center; width: 45%;">{{item.price}}</td>
                                  <td style=" text-align:center; width: 10%;">{{item.id}}</td>
                                  </tr>            
                {% endfor %}
      
      
              </tbody>
          </table>
        {% endif %}
        {% if tag.name == "استهلاك وقود" %}
          <h5 style="text-align:right; font:1.3em;" class="">بيانات : {{tag.name}}</h5>
          <table class="table table-hover" style="width: 100%; margin-top: 0px;">
              <thead>
                  <tr>
                    <th style="width: 45%;"><center> التاريخ</center></th>
                    <th style="width: 45%;"><center> الكمية</center></th>
                    <th style="width: 10%;"><center>رقم العملية</center></th>
      
      
      
                  </tr>
                </thead>
              <tbody id="output1" style="width: 100%;">
      
                {% for item in fuel %}
                                  <tr dir="rtl"> 
      
                                    <td style=" text-align:center; width: 45%;">{{item.date|date:"m-d"}}</td>
                                    <td style=" text-align:center; width: 45%;">{{item.quantity}}</td>
                                  <td style=" text-align:center; width: 10%;">{{item.id}}</td>
                                  </tr>            
                {% endfor %}
      
      
              </tbody>
          </table>
        {% endif %}
    {% endfor %}
      <style>
        tbody tr:nth-child(even) {
            background-color: #f5f5f5;
        }
      </style>
      {% endblock body %}
      