{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block body %}
<div class="p4">
    <div class="modal fade" id="name"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post">
            {% csrf_token %}
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">اضافة عملية بيع حديد</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        <div style="float: right;">: الكمية</div>
                        <div class="form-group">
                            <input type="number" dir="rtl" placeholder="وزن الحديد بالكيلو غرام" required class="form-control" name="quantity"  style="float: right;">
                        </div>

                        <div style="float: right;">: سعر البيع (التسعير)</div>
                        <div class="form-group">
                            <input type="number" dir="rtl" step="0.1" placeholder="سعر الكيلو الواحد" required class="form-control" value="0.4" name="pricing"  style="float: right;">
                        </div>

                        <div style="float: right;">: المبلغ</div>
                        <div class="form-group">
                            <input type="number" dir="rtl" placeholder="المبلغ المدفوع" required class="form-control" name="price"  style="float: right;">
                        </div>
                        
                        <div style="float: right;">: التاريخ</div>
                        <div class="form-group">
                            <input type="date"required dir="rtl" class="form-control" name="date" value="{{today|date:"Y-m-d"}}"  style="float: right;">
                        </div>

                        <div style="float: right;">: ملاحظات</div>
                        <div class="form-group">
                            <input type="text" dir="rtl"placeholder="ملاحظات" class="form-control" name="notes"  style="float: right;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn btn-primary" name="add">اضافة</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="uper">
        <div class="models sp">
        <h1 style="" class="hme">مبيعات الحديد</h1>
        <div style=" font-size: x-large;"><button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#name">اضافة عملية بيع جديدة</button></div>
        </div>

    </div>
    <br>


    <form  method="GET" class="models">
        <div class="input-group  ds" style="width: 30% !important;">
          <button class="btn btn-outline-secondary"name="dt" id="button-addon1">تصفية</button>
          <input type="date" required class="form-control"name="data_as"  placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"value="{{data_as}}">
        </div>
    </form>
    {% if  day_iron_sales %}
    <div class="models sp">
        <h5 style="margin-top: 50px;" class="hme" >مبيعات الحديد لتاريخ {{data_as}}</h5>
    </div>
    <table class="table table-hover" style="width: 100%; margin-top: 0px;">
        <thead>
            <tr>
              <th style="width: 20%;"><center>التاريخ</center></th>
              <th style="width: 15%;"><center>المبلغ</center></th>
              <th style="width: 15%;"><center>التسعير</center></th>
              <th style="width: 15%;"><center> الكمية</center></th>
              <th style="width: 10%;"><center>الرقم</center></th>



            </tr>
          </thead>
        <tbody id="output1" style="width: 100%;">
            {% for item in day_iron_sales %}
                            <tr dir="rtl"> 
                                <td style=" text-align:center; width: 20%;">{{item.date|date:"m-d"}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.price}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.pricing}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.quantity}}</td>
                                <td style=" text-align:center; width: 10%;">{{item.id}}</td>
                            </tr>      
            {% endfor %}
        </tbody>
    </table>

      <table class="table table-hover tp" style="margin-top: 50px;">

        <tbody id="output1" style="width: 100%;">


            <td style="width: 30%; text-align:center;">كامل سعر البيع : {{day_iron_sales_price}} شيكل </td>
            <td style="width: 30%; text-align:center;">كامل التسعير : {{day_pricing|floatformat:2}}  </td>
            <td style="width: 40%; text-align:center;">الكمية المباعة : {{day_iron_sales_quantity}} كيلو </td>
                </tr>
            </tbody>
      </table>
    <br>
    {% endif %}

    <div class="models sp">
        <h5 style="margin-top: 50px;" class="hme" >مبيعات حديد الاسبوع الحالي</h5>
    </div>
    <table class="table table-hover" style="width: 100%; margin-top: 0px;">
        <thead>
            <tr>
              <th style="width: 20%;"><center>التاريخ</center></th>
              <th style="width: 15%;"><center>المبلغ</center></th>
              <th style="width: 15%;"><center>التسعير</center></th>
              <th style="width: 15%;"><center> الكمية</center></th>
              <th style="width: 10%;"><center>الرقم</center></th>



            </tr>
          </thead>
        <tbody id="output1" style="width: 100%;">
            {% for item in week_iron_sales %}
                            <tr dir="rtl"> 
                                <td style=" text-align:center; width: 20%;">{{item.date|date:"m-d"}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.price}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.pricing}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.quantity}}</td>
                                <td style=" text-align:center; width: 10%;">{{item.id}}</td>
                            </tr>      
            {% endfor %}
        </tbody>
    </table>

      <table class="table table-hover tp" style="margin-top: 50px;">

        <tbody id="output1" style="width: 100%;">


            <td style="width: 30%; text-align:center;">كامل سعر البيع : {{week_iron_sales_price}} شيكل </td>
            <td style="width: 30%; text-align:center;">كامل التسعير : {{pricing|floatformat:2}}  </td>
            <td style="width: 40%; text-align:center;">الكمية المباعة : {{week_iron_sales_quantity}} كيلو </td>
                </tr>
            </tbody>
      </table>
    <br>

    <div class="models sp">
        <h5 style="margin-top: 50px;" class="hme" >مبيعات حديد الاسبوع السابق</h5>
    </div>
    <table class="table table-hover" style="width: 100%; margin-top: 00px;">
        <thead>
            <tr>
              <th style="width: 20%;"><center>التاريخ</center></th>
              <th style="width: 15%;"><center>المبلغ</center></th>
              <th style="width: 15%;"><center>التسعير</center></th>
              <th style="width: 15%;"><center> الكمية</center></th>
              <th style="width: 10%;"><center>الرقم</center></th>



            </tr>
          </thead>
        <tbody id="output1" style="width: 100%;">
            {% for item in last_week_iron_sales %}
                            <tr dir="rtl"> 
                                <td style=" text-align:center; width: 20%;">{{item.date|date:"m-d"}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.price}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.pricing}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.quantity}}</td>
                                <td style=" text-align:center; width: 10%;">{{item.id}}</td>
                            </tr>      
            {% endfor %}
        </tbody>
    </table>

      <table class="table table-hover tp" style="margin-top: 50px;">

        <tbody id="output1" style="width: 100%;">


            <td style="width: 30%; text-align:center;">كامل سعر البيع : {{last_week_iron_sales_price}} شيكل </td>
            <td style="width: 30%; text-align:center;">كامل التسعير : {{last_pricing|floatformat:2}}  </td>
            <td style="width: 40%; text-align:center;">الكمية المباعة : {{last_week_iron_sales_quantity}} كيلو </td>
                </tr>
            </tbody>
      </table>
    <br>

    <div class="models sp">
        <h5 style="margin-top: 50px;" class="hme" >مبيعات حديد الاسابيع السابقة</h5>
    </div>
    <table class="table table-hover" style="width: 100%; margin-top: 0px;">
        <thead>
            <tr>
              <th style="width: 20%;"><center>التاريخ</center></th>
              <th style="width: 15%;"><center>المبلغ</center></th>
              <th style="width: 15%;"><center>التسعير</center></th>
              <th style="width: 15%;"><center> الكمية</center></th>
              <th style="width: 10%;"><center>الرقم</center></th>



            </tr>
          </thead>
        <tbody id="output1" style="width: 100%;">
            {% for item in all_week_iron_sales %}
                            <tr dir="rtl"> 
                                <td style=" text-align:center; width: 20%;">{{item.date|date:"m-d"}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.price}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.pricing}}</td>
                                <td style=" text-align:center; width: 15%;">{{item.quantity}}</td>
                                <td style=" text-align:center; width: 10%;">{{item.id}}</td>
                            </tr>      
            {% endfor %}
        </tbody>
    </table>

      <table class="table table-hover tp" style="margin-top: 50px;">

        <tbody id="output1" style="width: 100%;">


            <td style="width: 30%; text-align:center;">كامل سعر البيع : {{all_week_iron_sales_price}} شيكل </td>
            <td style="width: 30%; text-align:center;">كامل التسعير : {{all_pricing|floatformat:2}}  </td>
            <td style="width: 40%; text-align:center;">الكمية المباعة : {{all_week_iron_sales_quantity}} كيلو </td>
                </tr>
            </tbody>
      </table>
    <br>
</div>

{% endblock body %}
